[project]
	description = Repo for worked open source Linux related projects
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group docwheelcollaborators
	owner = group user/nunnchops
	read = group docwheelcollaborators
	abandon = group docwheelcollaborators
	create = group docwheelcollaborators
	push = group docwheelcollaborators
	label-Verified = -1..+1 group docwheelcollaborators
[access "refs/for/refs/*"]
	read = group user/nunnchops
	push = group user/nunnchops
	label-Code-Review = -2..+2 group user/nunnchops
	label-Verified = -1..+1 group user/nunnchops
	rebase = group user/nunnchops
	removeReviewer = group user/nunnchops
	submit = group user/nunnchops
[access "refs/heads/*"]
	read = group user/nunnchops
	create = group user/nunnchops
	push = +force group user/nunnchops
	pushMerge = group user/nunnchops
[access "refs/tags/*"]
	push = +force group user/nunnchops
	pushTag = group user/nunnchops
	pushSignedTag = group user/nunnchops
